[submodule "src/mavros"]
	path = src/mavros
	url = git@github.com:mavlink/mavros.git
	branch = ros2
[submodule "src/PX4-Autopilot"]
	path = src/PX4-Autopilot
	url = git@github.com:PX4/PX4-Autopilot.git
	branch = master
[submodule "src/airsim_utils"]
	path = src/airsim_utils
	url = git@github.com:blakermchale/airsim_utils.git
	branch = main
[submodule "src/robot-control"]
	path = src/robot-control
	url = git@github.com:blakermchale/robot-control.git
	branch = main
[submodule "src/robot_behavior_tree"]
	path = src/robot_behavior_tree
	url = git@github.com:blakermchale/robot_behavior_tree.git
	branch = main
[submodule "src/airsim-ros"]
	path = src/airsim-ros
	url = git@github.com:blakermchale/airsim-ros.git
	branch = main
[submodule "src/Groot"]
	path = src/Groot
	url = git@github.com:BehaviorTree/Groot.git
[submodule "src/navigation2"]
	path = src/navigation2
	url = git@github.com:ros-planning/navigation2.git
