[submodule "src/airsim_utils"]
	path = src/airsim_utils
	url = git@github.com:blakermchale/airsim_utils.git
	branch = main
[submodule "src/robot-control"]
	path = src/robot-control
	url = git@github.com:blakermchale/robot-control.git
	branch = main
[submodule "src/robot_behavior_tree"]
	path = src/robot_behavior_tree
	url = git@github.com:blakermchale/robot_behavior_tree.git
	branch = main
[submodule "src/airsim-ros"]
	path = src/airsim-ros
	url = git@github.com:blakermchale/airsim-ros.git
	branch = main
[submodule "src/Groot"]
	path = src/Groot
	url = git@github.com:BehaviorTree/Groot.git
	branch = master
[submodule "src/PX4-Autopilot"]
	path = src/PX4-Autopilot
	url = https://github.com/PX4/PX4-Autopilot.git
	branch = master
[submodule "src/robot_ignition"]
	path = src/robot_ignition
	url = git@github.com:blakermchale/robot_ignition.git
	branch = main
[submodule "src/ros2_utils"]
	path = src/ros2_utils
	url = git@github.com:blakermchale/ros2_utils.git
	branch = main
