[submodule "src/mavros"]
	path = src/mavros
	url = git@github.com:mavlink/mavros.git
	branch = ros2
[submodule "src/PX4-Autopilot"]
	path = src/PX4-Autopilot
	url = git@github.com:PX4/PX4-Autopilot.git
	branch = master
[submodule "src/airsim_utils"]
	path = src/airsim_utils
	url = git@github.com:blakermchale/airsim_utils.git
	branch = main
[submodule "src/robot-control"]
	path = src/robot-control
	url = git@github.com:blakermchale/robot-control.git
	branch = main
[submodule "src/robot_behavior_tree"]
	path = src/robot_behavior_tree
	url = git@github.com:blakermchale/robot_behavior_tree.git
	branch = main
[submodule "src/gym-pybullet-drones"]
	path = src/gym-pybullet-drones
	url = https://github.com/utiasDSL/gym-pybullet-drones.git
	branch = master
